{% extends '::base.html.twig' %}

{% block content %}
    <div class="container error-500-page">
        <div class="error-page">
            <h2>Oops!</h2>
            <h1 class="label-404"> 404 </h1>
            <h2>Not Found</h2>
            <div class="error-details">
                Sorry, an error has occured. Requested page not found!
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control" id="search" placeholder="Search something else...">
                </div>
                <button type="submit" class="btn btn-primary btn-large">Serch</button>
            </form>


            {#<div class="error-actions">#}
                {#<a href="{{url('/')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>#}
                    {#Take Me Home </a><a href="{{url('/contact-us')}}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>#}
            {#</div>#}
        </div>

    </div>
{% endblock %}