{% extends 'default/front/base.html.twig' %}

{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}
{% block meta_autor %}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
 <div class="row">
    <div class="col-md-12">
    {{ page.content | raw }}
	</div>
 </div>     
{% endblock %}
