.footer {
  flex: 0 0 auto;
  height: auto;
  background: #717171;
}
.footer .footer-widget .footer-widget-label {
  color: #F0DEBA;
  text-decoration: none;
  border: none;
  font-family: "Bebas Book";
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
}
.footer .footer-widget .footer-widget-data-list {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  line-height: 8px;
  color: white;
}
@media only screen and (max-width: 479px) {
  .footer .footer-widget .footer-widget-data-list {
    line-height: 15px;
  }
}
.footer .footer-widget .footer-widget-data-list .social-icon-link {
  border: 1px solid;
  border-radius: 10px;
  background-color: #717171;
  width: 3.5em;
  height: 3.5em;
  padding: 8px 0 0 0;
}
.footer .footer-widget .footer-widget-data-list .social-icon-link:hover {
  background-color: #F0DEBA;
  color: #717171;
}
.footer .footer-widget .footer-widget-data-list a {
  color: #F0DEBA;
  text-decoration: underline;
}
.footer .footer-widget .footer-widget-data-list li {
  white-space: nowrap;
  margin-bottom: 26px;
  position: relative;
  font-size: 16px;
  color: #F0DEBA;
}
@media only screen and (max-width: 479px) {
  .footer .footer-widget .footer-widget-data-list li {
    white-space: normal;
  }
}
