.contact-block .flash-message {
  margin-left: 100px;
}
@media only screen and (max-width: 479px) {
  .contact-block .col-xs-padding-right-0 {
    padding-right: 0;
  }
}
.contact-block h4 {
  font-family: 'Century Gothic Regular';
  color: #6B3E21;
}
.contact-block .contact-block-line {
  font-family: 'Century Gothic Regular';
}
.contact-block .contact-block-line-title {
  text-decoration: underline;
}
