<ol class="breadcrumb page-breadcrumbs">
    <li class="breadcrumb-item"><a href="{{ path('front.index') }}">Главная страница</a></li>
    <li class="breadcrumb-item active">{{ currentPage }}</li>
</ol>